<%= form_for(@volunteer) do |f| %>

  <%= f.hidden_field %>

  <div class="form-inputs">
  </div>

  <%= f.nested_fields_for :skills, do |skill| %>
    <% skills = Skill.all %>
    <% skills.each do |s| %>
    <div class="custom-control custom-checkbox mb-3">
      <input class="custom-control-input" id="<%= s.name %>" type="checkbox">
      <label class="custom-control-label" for="<%= s.name %>"><%= s.name %></label>
    </div>
    <% end %>
  <% end %>

  <%= f.nested_fields_for :skills, do |profession| %>
    <% professions = Skill.all %>
    <% professions.each do |p| %>
    <div class="custom-control custom-checkbox mb-3">
      <input class="custom-control-input" id="<%= p.name %>" type="checkbox">
      <label class="custom-control-label" for="<%= p.name %>"><%= p.name %></label>
    </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
