<style>
  .form-linkedin{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .fa-15x {
    font-size: 1.5em;  
  }
</style>
<div class="container ml-4 mr-4">
  <%= form_for(@volunteer) do |f| %>

    <br><br><br><br><br>
    <h4 class="text-uppercase font-weight-bold">Volunteer Information</h4>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <h6>Upload CV File</h6>
    <%= f.file_field :cv_file %>
    <i class="fab fa-linkedin-in fa-15x"></i> <%= f.text_field :linked_in_url, placeholder: "Linkedin URL",class: "form-linkedin fab" %> 

    <h4 class="mt-2">Skills</h4>
    <div class="row">
      <% Skill.all.each_with_index do |skill, index| %>
      <div class="col-3">
      <%= check_box_tag "volunteer[volunteer_skill_joins_attributes][#{index}][skill_id]", skill.id, @volunteer.skills.include?(skill), id: dom_id(skill) %>
      <%= label_tag dom_id(skill), skill.name %>
      </div>
      <% end %>
    </div>

    <h4>Professions</h4>
    <div class="row">
      <% Profession.all.each_with_index do |profession, index| %>
      <div class="col-3">
      <%= check_box_tag "profession[volunteer_profession_joins_attributes][#{index}][profession_id]", profession.id, @volunteer.professions.include?(profession), id: dom_id(profession) %>
      <%= label_tag dom_id(profession), profession.name %>
      </div>
      <% end %>
    </div>

    <div class="mx-auto">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    
  <% end %>
</div>