  <main>
    <% o = @organizer %>
    <div class="position-relative">
    <section class="section section-lg section-shaped">
        <div class="shape shape-style-1 shape-primary"></div>
        <div class="row justify-content-center">
            <h2 class="text-white display-1"><%=o.company_name%></h2>
        </div>
    </section>

    <div class="container p-4 shadow rounded mt-5 mb-5">
        <h3 class="mt-3 mb-3">Organization Profile</h3>
        <div class="row">

            <div class="col-md-6">
                <% if o.logo_url %>
                <%= image_tag(o.logo_url, class: "card-img-top") %>
                <% else %>
                <%= image_tag("brand/carousel" + rand(1..3).to_s + ".png", style: "width:100%;", class: "card-img-top") %>
                <% end %>
            </div>

            <div class="col-md-6">
                <div class="card-body">
                    <div class="card-body-area">
                        <h4><%= o.company_name %></h4>
                        <p class="small"><%= o.description %></p>
                        <% if o.website_link.present? %>
                        <a target="_blank" href="<%= o.website_link %>"><i class="fas fa-globe"></i></a>
                        <% end %>
                        <% if o.facebook_link.present? %>
                        <a target="_blank" href="<%= o.facebook_link %>"><i class="fa fa-facebook"></i></a>
                        <% end %>
                        <% if o.instagram_link.present? %>
                        <a target="_blank" href="<%= o.instagram_link %>"><i class="fa fa-instagram"></i></a>
                        <% end %>
                        <% if o.twitter_link.present? %>
                        <a target="_blank" href="<%= o.twitter_link %>"><i class="fa fa-twitter"></i></a>
                        <% end %>
                        <% if o.linkedin_link.present? %>
                        <a target="_blank" href="<%= o.linkedin_link %>"><i class="fa fa-linkedin"></i></a>
                        <% end %>
                        
                        <h6>Organization Information</h6>
                        <div>   
                            <span class="badge badge-pill badge-secondary">Email</span> 
                            <span class="small"><%= o.email %></span> 
                        </div>
                        <div>   
                            <span class="badge badge-pill badge-secondary">Address</span> 
                            <span class="small"><%= o.address_1 %> <%= o.address_2 %></span> 
                        </div>
                        <div>
                            <span class="badge badge-pill badge-secondary">Location</span> 
                            <span class="small"><%= o.city %>, <%= o.state %></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <% @projects = o.projects %>
        <h3 class="mt-3 mb-3">Organization Hosted Projects</h3>
        <div class="row">
            <%= render partial: 'projects/card' %>
        </div>
    </div>


  </main>
