<% if current_user %>
  

<div class="card card-profile shadow mt--300">
  <div class="px-4">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), local: true ,html: { method: :put },  wrapper_mappings: {
  
    file:          :custom_file},id:"form") do |f| %>
  
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <% if current_user.avatar? %>
            <%= image_tag(current_user.avatar_url, class: "rounded-circle", id: "avatar") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "rounded-circle", id: "avatar" %>
          <% end %>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
          <div class="card-profile-actions py-4 mt-lg-0">
               <%= f.button :submit, "Save Profile" , class: "btn btn-sm btn-primary mr-4"%>
          </div>
      </div>
 
       
       
      <div class="col-lg-4 order-lg-1">
        <div class="card-profile-stats d-flex justify-content-center">
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
        </div>
      </div>
    </div>


     
    <div class="text-center" style ="margin-top:80px;">
     <h1 class="heading-title text-muted text-uppercase">Edit Profile</h1>
          <div class="form-group col-4 mx-auto mb-3 ">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
              <%= f.text_field :username, class: "form-control", placeholder: "Username",value:current_user.username %>
            </div>
          </div>
      
          <%= f.file_field :avatar , as: :file %><%= f.hidden_field :avatar_cache %>

          <div class="form-group col-4 mx-auto mb-3 ">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
                  <%= f.text_field :first_name, class: "form-control", value: current_user.first_name %>
                  <%= f.text_field :last_name, class: "form-control", value: current_user.last_name  %>
              </div>
          </div>

          <div class="form-group col-4 mx-auto mb-3 ">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
                    <%= f.text_field :email, class: "form-control", value: current_user.email  %>
              </div>
            </div>

            <div class="form-group col-4 mx-auto mb-3 ">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                 <input value="Birthday" class="form-control datepicker" type="text" name="user[birthday]" id="user_birthday"/>
                </div>
            </div>


         

                
          <div class="h6 mt-4">Joined: <%= current_user.created_at.strftime("%B %Y") %></div>


              <h3 class="display-4">Cancel my account</h3>

              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },class:"text-danger", method: :delete %></p>

              <%= link_to "Back", :back,class:"text-muted" %>
        </div>

    
    <div class="mt-5 py-5 border-top text-center">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <h1 class="heading-title text-muted text-uppercase">Current Details</h1>
    
          <p>Username : <%= current_user.username %></p>
          <p>First Name : <%= current_user.first_name %></p>
          <p>Last Name : <%= current_user.last_name %></p>
          <p>Email : <%= current_user.email %></p>
          <p>Birthday : <%= current_user.birthday %></p>

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

<% end %>