
<%= simple_form_for(:user,id: 'signup', url: registration_path(:user)) do |f| %>


  <%= f.error_notification %>
       
      <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
      </div>
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
      </div>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>

 
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>
  </div>
  
  <div class="text-center">
    <button type="submit" class="btn btn-bantu my-4">Sign Up</button>
  </div>
  
<% end %>

