<div class="card card-profile shadow mt--300">
  <div class="px-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar_url, class: "img-fluid rounded-circle") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "img-fluid rounded-circle" %>
          <% end %>
          </a>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
          <div class="card-profile-actions py-4 mt-lg-0 mb-3">
        <% if current_user.id == @user.id %>
            <%= link_to "Edit Profile", edit_user_registration_path(@user.id), class: "btn btn-sm btn-info ml-5" %>
        <% end %>
        <br>
        <% if current_user.id == @user.id && @user.donor.donations.any? %>
            <%= link_to " Donations ", donor_donations_path(@user.id), class: "btn btn-sm btn-success mt-1 mr-2" %>
        <% end %>
          </div>
      </div>

        

       <div class="col-lg-4 order-lg-1">
                    <div class="card-profile-stats d-flex justify-content-center">

                      <div>
                        <% if @user.volunteer.nil? %>
                          <span class="heading">0</span>
                          <% else %>
                          <span class="heading"><%= @user.volunteer.projects.count %></span>
                        <% end %>
                        <span class="text-default font-weight-bold text-uppercase">Volunteered</span>
                      </div>
                      
                      <div>                 
                        <% if @user.organizer.nil? %>
                          <span class="heading">0</span>
                          <% else %>
                          <span class="heading"><%= @user.organizer.projects.count %></span>
                        <% end %>
                        <span class="text-default font-weight-bold text-uppercase">Projects</span>
                      </div>
                </div>
              </div>
            </div>

                      
    <div class="text-center mt-5">
      <!-- User's full name -->
      <h3 class="text-default font-weight-bold"><%= @user.full_name %>
      <hr class="mt-1" width="250px">
    </div>
    
       <!-- User's age -->
       <span class="font-weight-light"><%= @user.birthday %></span>
      </h3>

      <% if current_user == @user %>
        <dl class="row">
              <dt class="col-sm-4"></dt>
              <dt class="col-sm-2">Email </dt>
              <dd class="col-sm-4"><%= @user.email %></dd>
        </dl>
      <dl class="row">
              <dt class="col-sm-4"></dt>
              <dt class="col-sm-2">Username </dt>
              <dd class="col-sm-4"><%= @user.username %></dd>
        </dl>
      <% end %>
       <dl class="row">
              <dt class="col-sm-4"></dt>
              <dt class="col-sm-2">Joined </dt>
              <dd class="col-sm-4"><%= @user.created_at.strftime("%B %Y") %></dd>
        </dl>

      </div>
    </div>
 </div>
</div>

