<div class="card card-profile shadow mt--300">
  <div class="px-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar_url, class: "img-fluid rounded-circle") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "img-fluid rounded-circle" %>
          <% end %>
          </a>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
        <% if signed_in? %>
        <% if current_user == @user %>
          <div class="card-profile-actions py-4 mt-lg-0 mb-3">
            <%= link_to "Edit Profile", edit_user_registration_path(@user.id), class: "btn btn-sm btn-info mr-4", local: true %>
          </div>
        <% end %>
        <% end %>
      </div>

       <div class="col-lg-4 order-lg-1">
                    <div class="card-profile-stats d-flex justify-content-center">

                      <div>
                        <% if @user.volunteer.nil? %>
                          <span class="heading">0</span>
                          <% else %>
                          <span class="heading"><%= @user.volunteer.projects.count %></span>
                        <% end %>
                        <span class="description">Volunteered</span>
                      </div>
                      
                      <div>                 
                        <% if @user.organizer.nil? %>
                          <span class="heading">0</span>
                          <% else %>
                          <span class="heading"><%= @user.organizer.projects.count %></span>
                        <% end %>
                        <span class="description">Projects</span>
                      </div>
                </div>
              </div>
            </div>

                      
    <div class="text-center mt-5">
      <!-- User's full name -->
      <h3><%= @user.full_name %>
       <!-- User's age -->
       <span class="font-weight-light"><%= @user.birthday %></span>
      </h3>
      <div class="h6 font-weight-300">Username: <%= @user.username %></div>
      <div class="h6 mt-4">Joined: <%= @user.created_at.strftime("%B %Y") %></div>
    </div>

    <div class="mt-5 py-5 border-top text-center">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <p><%= @user.username %></p>
        </div>
      </div>
    </div>
 </div>
</div>
                    


