<div class="card card-profile shadow mt--300">
  <div class="px-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar_url, class: "img-fluid rounded-circle") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "img-fluid rounded-circle" %>
          <% end %>
          </a>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
        <% if signed_in? %>
        <% if current_user == @user %>
          <div class="card-profile-actions py-4 mt-lg-0 mb-3">
            <%= link_to "Edit Profile", edit_user_registration_path(@user.id), class: "btn btn-sm btn-info mr-4", local: true %>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="col-lg-4 order-lg-1">
          <div class="card-profile-stats d-flex justify-content-center">

            <div>
              <% if @user.volunteer.nil? %>
                <span class="heading">0</span>
              <% else %>
                <span class="heading"><%= @user.volunteer.projects.count %></span>
              <% end %>
                <span class="description">Volunteered</span>
              </div>
                      
              <div>                 
                <% if @user.organizer.nil? %>
                  <span class="heading">0</span>
                <% else %>
                  <span class="heading"><%= @user.organizer.projects.count %></span>
                <% end %>
                <span class="description">Projects</span>
              </div>
            </div>
          </div>
        </div>

                      
        <div class="text-center mt-5">
          <!-- User's full name -->
          <h3><%= @user.full_name %>
          <!-- User's age -->
          <span class="font-weight-light"><%= @user.birthday %></span>
          </h3>
          <div class="h6 font-weight-300">Username: <%= @user.username %></div>
          <div class="h6 mt-4">Joined: <%= @user.created_at.strftime("%B %Y") %></div>
        </div>

        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0 active" id="profile-1-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="true"><i class="ni ni-badge mr-2"></i>Volunteer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="profile-2-tab" data-toggle="tab" href="#profile-2" role="tab" aria-controls="profile-2" aria-selected="false"><i class="ni ni-paper-diploma mr-2"></i>Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="profile-3-tab" data-toggle="tab" href="#profile-3" role="tab" aria-controls="profile-3" aria-selected="false"><i class="ni ni-collection mr-2"></i>Donation</a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <!-- Card 1 Volunteer-->
            <div class="tab-pane fade show active" id="profile-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
              <% if @user.volunteer.present? %>
                <h6>Volunteer Criterias</h6>
                <div class="criteria">
                  <p class="display-6"><span class="badge badge-pill badge-secondary">Skills</span>
                    <% @user.volunteer.skills.each do |s| %>
                      <span class="badge badge-pill badge-primary"><%= s.name %></span>
                    <% end %>
                  </p>
                  <p class="display-6"><span class="badge badge-pill badge-secondary">Professions</span>
                    <% @user.volunteer.professions.each do |p| %>
                      <span class="badge badge-pill badge-info"><%= p.name %></span>
                    <% end %>
                  </p>
                  <p class="display-6"><span class="badge badge-pill badge-secondary">Causes</span>
                    <% @user.causes.each do |c| %>
                    <span class="badge badge-pill badge-default"><%= c.name %></span>
                    <% end %>
                  </p>
                </div>
                <!-- Display my matching projects-->
                <% if current_user.id == @user.id %>
                <h6>Matching Projects</h6>
                <%= render partial: "matching" %>
                <% end %>
              <% end %>
            </div>
            <!-- Card 2 Project -->
            <div class="tab-pane fade" id="profile-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
              <% if @user.organizer.present? %>
                  <% @user.organizer.projects.each do |p| %>
                    <p class="badge badge-pill badge-default"><%= p.title %></p>
                  <% end %>
              <% end %>
            </div>
            <!-- Card 3 Donation -->
            <div class="tab-pane fade" id="profile-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
              <% if @user.donor.present? %>
                  <% @user.donor.donations.each do |d| %>
                      <h6><%=d.project.title%> : <%=d.amount%> : <%=d.status%> : <%=time_ago_in_words(d.created_at)%> ago</h6>
                  <% end %>
              <% end %>
            </div>

          </div>
        </div>

      </div>
    </div>
 </div>
</div>






