<main class="profile-page">

  <section class="section-profile-cover section-shaped">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4" style="background: linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </section>

  <section class="section">
    <div class="container" id="profile">
      <%= render partial: 'profile' %>
    </div>
  </section>


      <div class="card shadow mt--500 mb--500">
          <div class="card-body">

              <div class="mt--100 py-5 border-top text-center">
                  <!-- <div class="row"> -->
                  <% if @user.volunteer.present? %>
                    <h6 class="heading-title mb-3">Volunteer Criterias</h6><br>
                    
                    <div class="criteria">
                      <p class="display-6">
                        <span class="badge badge-pill badge-secondary">Skills</span>
                          <% @user.volunteer.skills.each do |s| %>
                            <span class="badge badge-pill badge-primary"><%= s.name %></span>
                          <% end %>
                      </p>
                      <p class="display-6"><span class="badge badge-pill badge-secondary">Professions</span>
                        <% @user.volunteer.professions.each do |p| %>
                          <span class="badge badge-pill badge-info"><%= p.name %></span>
                        <% end %>
                      </p> 
                    </div>
                    <br>
                    <!-- message notifiying user of currently matched/unmatched projects -->
                    <h6 class="text-uppercase text-bold text-center">
                      <% if user_signed_in? && current_user == @user %>
                        <% if @projects == [] %>
                          There are currently no projects matching your criteria.<br>
                          Please try updating your profile or try again later.
                        <% else %>
                          You have projects matching your criteria.
                        <% end %>
                      <% end %>
                    </h6>
                    <br><br>
                      <!-- Display my matching projects-->
                      <% if current_user.id == @user.id %>
                        <%= render partial: "matching" %>
                      <% end %>
                    <% end %>
                  <!-- </div> -->

                  <% if @user.organizer.present? %>
                    <% @user.organizer.projects.each do |p| %>
                      <p class="badge badge-pill badge-default"><%= p.title %></p>
                    <% end %>
                  <% end %>
               
                 
                <!-- Card 3 Donation -->
            
                  <% if @user.donor.present? %>
                    <% @user.donor.donations.each do |d| %>
                      <h6><%=d.project.title%> : <%=d.amount%> : <%=d.status%> : <%=time_ago_in_words(d.created_at)%> ago</h6>
                    <% end %>
                  <% end %>
             
              </div>
            </div>
</main>
     

                          


         



                            

                              
                             
                        
