
<div class="container mt-100 mb-4">
  <div class="card shadow">
    <table class="table table-striped table-hover table-responsive-sm ">
      <thead class="thead-dark">
        <tr class="text-uppercase">
          <th class='font-weight-bold'>Project</th>
          <th class='font-weight-bold'>Donor</th>
          <th class='font-weight-bold'>Amount</th>
          <th class='font-weight-bold'>Date</th>
          <th class='font-weight-bold'>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @project.donations.each do |donation| %>
          <tr>
            <td><%= link_to @project.title, @project %></td>
            <td><%= link_to donation.donor.user.first_name, donation.donor.user %></td>
            <td>$<%= sprintf( "%0.02f",donation.amount) %></td>
            <td><%= donation.created_at.strftime("%d/%m/%y") %></td>
            
            <% if donation.received? %><td class='text-info font-weight-bold text-uppercase blink'>
            <% else %>
              <td class='text-success font-weight-bold text-uppercase'>
            <%end%>
            <%= donation.status %></td>
              

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
