<% @projects.each do |p| %>
    <div class="col-sm-2 col-md-4 mb-3">
        <div class="card card-highlight--hover shadow h-100", id="project-<%=p.id%>">
            <% if p.image_url %>
            <%= image_tag(p.image_url, class: "card-img-top") %>
            <% else %>
            <%= image_tag("brand/carousel" + rand(1..3).to_s + ".png", style: "width:100%;", class: "card-img-top") %>
            <% end %>
            <div class="card-body">
                <div class="card-body-area">
                    <%= link_to p.title, project_path(p.id), target:"_blank" %>
                    <p class="small"><%= p.project_desc %></p>

                    <% if p.volunteer && p.volunteer_number != 0 %>
                    <div id="donation-section">
                        <div class="progress-wrapper">
                            <div class="progress-info">
                                <div>
                                <% if p.volunteer_progress >= 100 %>
                                    <span class="badge badge-success">Successfully Volunteered! <%=p.volunteer_number%></span>
                                <% else %>
                                    <% if signed_in? && current_user.volunteer.present? %>
                                    <%= link_to "Volunteered " + p.volunteer_project_joins.count.to_s + " / " + p.volunteer_number.to_s, new_volunteer_path, target: "_blank", class: "badge badge-primary"%>
                                    <% elsif signed_in? && !current_user.volunteer.present? %>
                                    <%= link_to "Volunteered " + p.volunteer_project_joins.count.to_s + " / " + p.volunteer_number.to_s, new_volunteer_path, target: "_blank", class: "badge badge-primary"%>
                                    <% else %>
                                    <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Sign In to Volunteer">Volunteered <%=p.volunteer_project_joins.count.to_s%> / <%=p.volunteer_number.to_s%></span>
                                    <% end %>
                                <% end %>
                                </div>
                                <div class="progress-percentage">
                                    <span><%=p.volunteer_progress.round%>%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= p.volunteer_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= p.volunteer_progress %>%;"></div>
                            </div>
                            <div class="criteria small">
                                <p class="display-6"><span class="badge badge-pill badge-secondary">Skills</span>
                                <% p.skills.each do |s| %>
                                    <span class="badge badge-pill badge-skill"><%= s.name %></span>
                                <% end %>
                                </p>
                                <p class="display-6"><span class="badge badge-pill badge-secondary">Professions</span>
                                <% p.professions.each do |p| %>
                                    <span class="badge badge-pill badge-profession"><%= p.name %></span>
                                <% end %>
                                </p>
                                <p class="display-6"><span class="badge badge-pill badge-secondary">Causes</span>
                                <% p.causes.each do |c| %>
                                    <span class="badge badge-pill badge-cause"><%= c.name %></span>
                                <% end %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    
                    <% if p.finance_donate && p.fund_amount != 0 %>
                    <div id="donation-section">
                        <div class="progress-wrapper">
                            <div class="progress-info">
                                <div>
                                <% if p.fund_progress >= 100 %>
                                    <span class="badge badge-success">Successfully raised! RM<%=p.fund_amount.round%></span>
                                <% else %>
                                    <% if signed_in? %>
                                    <%= link_to "Raised RM" + p.donations.sum(:amount).round.to_s + " / RM" + p.fund_amount.round.to_s, make_donation_url(p.id), class: "badge badge-primary", target: "_blank" %>
                                    <% else %>
                                    <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Sign In to Donate">Raised RM <%=p.donations.sum(:amount).round.to_s%> / RM <%=p.fund_amount.round.to_s%> </span>
                                    <% end %>
                                <% end %>
                                </div>
                                <div class="progress-percentage">
                                    <span><%=p.fund_progress.round%>%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= p.fund_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= p.fund_progress %>%;"></div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>

            <div id="owner-profile" class="card-footer">
                <div class="small">
                    <% if p.organizers.first.logo? %>
                    <%= image_tag(p.organizers.first.logo_url, class: "img-fluid rounded-circle", style: "width:1.8rem;height:1.8rem") %><br>
                    <% else %>
                    <%= image_tag "theme/default.jpg", class: "img-fluid rounded-circle", style: "width:1.8rem;height:1.8rem" %>
                    <% end %>
                    <%= link_to p.organizers.first.company_name, organizer_path(p.organizers.first.id), target:"_blank" %>
                    <% if p.organizers.first.website_link.present? %>
                    <a target="_blank" href="<%= p.organizers.first.website_link %>"> <i class="fas fa-globe"></i></a>
                    <% end %>
                    <% if p.organizers.first.facebook_link.present? %>
                    <a target="_blank" href="<%= p.organizers.first.facebook_link %>"> <i class="fa fa-facebook"></i></a>
                    <% end %>
                    <% if p.organizers.first.instagram_link.present? %>
                    <a target="_blank" href="<%= p.organizers.first.instagram_link %>"> <i class="fa fa-instagram"></i></a>
                    <% end %>
                    <% if p.organizers.first.twitter_link.present? %>
                    <a target="_blank" href="<%= p.organizers.first.twitter_link %>"> <i class="fa fa-twitter"></i></a>
                    <% end %>
                    <% if p.organizers.first.linkedin_link.present? %>
                    <a target="_blank" href="<%= p.organizers.first.linkedin_link %>"> <i class="fa fa-linkedin"></i></a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>





