<% @projects.each do |p| %>
    <div class="col-sm-2 col-md-4">
        <div class="card card-lift--hover shadow mb-3", id="project-<%=p.id%>">
            <div class="card-body">
                <% if p.images_url %>
                <%= image_tag(p.images_url, class: "img-fluid rounded shadow") %>
                <% else %>
                <%= image_tag("brand/coverphoto.svg") %>
                <% end %>
                <div class="card-body-area">
                    <h6 class="text-primary text-uppercase"><%= p.title %></h6>
                    <p><%= p.project_desc %></p>
                    <p><%= p.requirement_desc %></p>
                </div>
            </div>
        </div>
    </div>
<% end %>




