 <style>
  .mt-100 {
    margin-top: 100px;
  }
  .blink{
    color: rgb (0, 137, 226);
    
    animation: blink 1s infinite;
   }
   
   @keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
   }
  }
</style>

<div class="container mt-100 mb-4">
  <div class="card shadow">
    <table class="table table-striped table-hover table-responsive-sm ">
      <thead class="thead-dark">
        <tr class="text-uppercase">
          <th class='font-weight-bold'>Project</th>
          <th class='font-weight-bold'>Organizer</th>
          <th class='font-weight-bold'>Contact</th>
          <th class='font-weight-bold'>Created</th>
          <th class='font-weight-bold'>Status</th>
          <th class='font-weight-bold'>Approve</th>
          <th class='font-weight-bold'>Decline</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, project %></td>
            <td><%= link_to project.organizers.first.user.first_name, project.organizers.first.user %></td>
            <td><%= project.organizers.first.email %></td>
            <td><%= project.created_at.strftime("%d/%m/%y") %></td>
            
            <% if project.pending? %><td class='text-warning font-weight-bold text-uppercase blink'>
            <% else %>
              <td class='text-success font-weight-bold text-uppercase'>
            <%end%>
            <%= project.status %></td>
            <td><%= link_to '',   status_approve_url(project.id), method: :status_change, data: { confirm: 'Are you sure?' }, class: "text-info fas fa-check-circle fa-2x" %>  
            <td><%= link_to '', status_rejected_url(project.id), method: :status_deny, data: { confirm: 'Are you sure?' }, class: "text-danger fas fa-minus-circle fa-2x" %></td>
              

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
