  <main>
    <div class="position-relative">
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center" id="slogan">
            <h1 class="text-white display-1">Find a project to contribute!</h1>
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="form-group ml-4 mr-4">
                    <%= form_with(url:card_projects_path, remote: true, method: :get)  do |form| %>
                        <div class="input-group mb-4">
                          <%= form.text_field :query,value:params[:query], class: "form-control",style:"border-radius: 50px 0 0 50px;", placeholder: "Search a Project" %>
                            <%= form.button :submit, name: nil,id:"search_button" do %>
                                 <%# <i class="ni ni-zoom-split-in"></i> %>
                                 <%# <i class="fab fa-searchengin"></i> %>
                                 <i class="fas fa-search"></i>
                           <% end %>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid" id="search">
              <%= render partial: 'card' %>
            </div>
            <% if @projects == [] %>
              <h2>No Result is Found</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="load-more">
        <%= link_to 'Click To Load More', projects_path(:page => @projects.next_page), class: "btn btn-outline-bantu btn-lg mt-5", :remote => true %>
      </div>

    </section>

  </main>
