<!-- Added in argon.css -->
<!-- affect the rest -->



  <main>
    <div class="position-relative">
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center" id="slogan">
            <h1 class="text-white display-1">Find a project to contribute!</h1>
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="form-group ml-4 mr-4">
                  
                    <%= form_tag card_projects_path, remote: true, method: 'get' do %>
                      <div class="input-group mb-4">
                        <%= text_field_tag :query, params[:query], class: "form-control",id:"rounded-form", placeholder: "Search a Project (eg: skills, professions, locations)" %>
                        <button class="btn-xl" id="search_button" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>

                      <div class="custom-control custom-checkbox d-inline">
                        <%= check_box_tag :volunteer, 1, true, class: "checkbox-gobantu" %>
                        <%= label_tag :volunteer, "Volunteer", class: "badge badge-gobantu" %>
                      </div>
                      <div class="custom-control custom-checkbox d-inline">
                        <%= check_box_tag :donate, 1, true, class: "checkbox-gobantu" %>
                        <%= label_tag :donate, "Donation", class: "badge badge-gobantu" %>  
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid" id="search">
              <%= render partial: 'card' %>
            </div>
            <% if @projects == [] %>
              <h2>No Result is Found</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="load-more">
        <%= link_to 'Click To Load More', projects_path(:page => @projects.next_page), class: "btn btn-outline-primary btn-xl mt-5", :remote => true %>
      </div>

    </section>

  </main>
