<div class="card card-highlight--hover shadow mb-3", id="project-<%=@project.id%>">
    <% if @project.images_url %>
        <%= image_tag(@project.images_url, class: "img-fluid rounded shadow") %>
    <% else %>
        <%= image_tag("brand/coverphoto.svg") %>
    <% end %>
    <div class="card-body">
        <div class="card-body-area">
            <%= link_to @project.title, project_path(@project.id), target:"_blank" %>
            <p class="small"><%= @project.project_desc %></p>

            <% if @project.volunteer && @project.volunteer_number != 0 %>
                <div id="donation-section">
                    <div class="progress-wrapper">
                        <div class="progress-info">
                            <div>
                            <% if @project.volunteer_progress >= 100 %>
                                <span class="badge badge-success">Successfully Volunteered! <%=@project.volunteer_number%></span>
                            <% else %>
                                <%= link_to "Volunteer " + @project.volunteer_project_joins.count.to_s + " / " + @project.volunteer_number.to_s, "#", class: "badge badge-primary"%>
                            <% end %>
                            </div>
                            <div class="progress-percentage">
                                <span><%=@project.volunteer_progress.round%>%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= @project.volunteer_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @project.volunteer_progress %>%;"></div>
                        </div>
                        <div class="criteria">
                            <p class="display-6"><span class="badge badge-pill badge-secondary">Skills</span>
                                <% @project.skills.each do |s| %>
                                    <span class="badge badge-pill badge-primary"><%= s.name %></span>
                                <% end %>
                            </p>
                            <p class="display-6"><span class="badge badge-pill badge-secondary">Professions</span>
                            <% @project.professions.each do |p| %>
                                <span class="badge badge-pill badge-info"><%= p.name %></span>
                            <% end %>
                            </p>
                            <p class="display-6"><span class="badge badge-pill badge-secondary">Causes</span>
                            <% @project.causes.each do |c| %>
                                <span class="badge badge-pill badge-default"><%= c.name %></span>
                            <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>

            <% if @project.finance_donate && @project.fund_amount != 0 %>
                <div id="donation-section">
                    <div class="progress-wrapper">
                        <div class="progress-info">
                            <div>
                            <% if @project.fund_progress >= 100 %>
                                <span class="badge badge-success">Successfully raised! RM<%=@project.fund_amount.round%></span>
                            <% else %>
                                <p class="text-uppercase font-weight-bold">Raised RM<%= @project.donations.sum(:amount).round.to_s %>/ RM <%= @project.fund_amount.round.to_s %></p>
                                <% if signed_in? %>
                                <%= link_to "Donate Now", make_donation_url, class: "btn btn-danger"%>
                                <% else %>
                                <button class="btn btn-danger">Sign in to Donate</button>
                                <%end %>
                            <% end %>
                            </div>
                            <div class="progress-percentage">
                                <span><%=@project.fund_progress.round%>%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= @project.fund_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @project.fund_progress %>%;"></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<% if signed_in? %>
    <% if @verify_organizers %>
        <% if !@hundred.nil? && @hundred != false %>
        <section class="section section-lg pt-lg-0">
            <div class="container">
                <center>
                    <h5 class="text-uppercase font-weight-bold">
                      Volunteers with a 100% match for your project.
                    </h5>
                </center>
                <div class="row justify-content-center mt-4">
                    <div class="col-lg-12">
                      <div class="row row-grid" id="search">
                        <%= render partial: 'users/user_card' %>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <% end %>
        <% @matched_volunteers = @volunteers_seventy_five %>
        <% if !@matched_volunteers.nil? && @matched_volunteers.count > 0 %>
        <section class="section section-lg pt-lg-0">
            <div class="container">
                <center>
                    <h5 class="text-uppercase font-weight-bold">
                      Volunteers with a 75% match for your project.
                    </h5>
                </center>
                <div class="row justify-content-center mt-4">
                    <div class="col-lg-12">
                      <div class="row row-grid" id="search">
                        <%= render partial: 'users/user_card' %>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <% end %>
    <% end %>
<% end %>