<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--not-bottom headroom--pinned headroom--not-top">
      <div class="container">
        <%= link_to image_tag('brand/logo.png'), root_path, class: "navbar-brand mr-lg-5" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <%= image_tag "brand/logo.png" %>
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-lg-auto navbar-nav-hover">
            <li class="nav-item">
              <%= link_to 'Projects', projects_path, class: "nav-link font-weight-bold" %>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Talents', volunteers_path, class: "nav-link" %>
            </li>
            <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Admin', rails_admin_path, class: "nav-link font-weight-bold" %>
            </li>
            <% end %>
            <% else %>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" data-toggle="modal" data-target="#modal-form" style="cursor: pointer;";>Login</a>
            </li>     
            <% end %>

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Started</a>
              <div class="dropdown-menu dropdown-menu-right row" aria-labelledby="navbar-primary_dropdown_1">
                <%= link_to 'Profile', user_profile_path(current_user), class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <% if !current_user.volunteer.present? %>
                <%= link_to 'Be a Volunteer', new_volunteer_path, class: "dropdown-item" %>
                <% else %>
                <%= link_to 'Find a Project', projects_path, class: "dropdown-item" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% if !current_user.organizer.present? %>
                <%= link_to 'Be an Organizer', new_organizer_path, class: "dropdown-item" %>
                <% else %>
                <%= link_to 'Start a Project', new_project_path, class: "dropdown-item" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Logout as ' + current_user.username, destroy_user_session_path, method: :delete ,class: "dropdown-item" %>
              </div>
            </li>
          <% end %>

          </ul>
        </div>
        
      </div>
  </nav>