<script type="text/javascript">
$(window).scroll(function(){
  $('.background1').bgscroll({direction: 'top'});
})
</script>
    
<style media="screen">
  
  #search_button{
    border: 2px solid #000;
    border-left: none;
    
  }
#map {
    min-height: 20rem;
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>


                
           
    
     <!-- Vix added background here -->
         <div class="background1">
            <div class="animated fadeInUp text-center" id="slogan">
               <p class="text-white mb-0">BUILDING COMMUNITIES</p>
               <p class="text-white mb-0">LEAVING AN IMPACT</p>
              
            </div>
        </div>


             
  <!-- Intro -->
    <section class="section pb-0 pt-100 section-components">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center pb-3">
            <h2 class="display-3 text-default">Welcome to GoBantu Malaysia!</h2>
          </div>
        </div>
      <div class="container">
        <div class="row text-center mt-3">
          <div class="col-md-4">
            <%= image_tag "landing/help1.png", alt: "Circle image", class: "img-fluid rounded shadow-lg mb-3", style:"width: 200px;"%>
            <h4 class="text-dark heading-title">Volunteer</h4>
            <p class="text-dark">Lend us your strength and skill, contribute to the community!</p>
            <%= button_tag "Be a Volunteer", class: "btn btn-1 btn-outline-bantu" %>
          </div>
          <div class="col-md-4">
            <%= image_tag "landing/help2.png", alt: "Circle image", class: "img-fluid rounded shadow-lg mb-3", style:"width: 200px;"%>
            <h4 class="text-dark heading-title">Crowd Funding</h4>
            <p class="text-dark">Support our project financial and help those needed!</p>
            <%= button_tag "Donate to Project", class: "btn btn-1 btn-outline-bantu"%>
          </div>
          <div class="col-md-4">
            <%= image_tag "landing/help3.png", alt: "Circle image", class: "img-fluid rounded shadow-lg mb-3", style:"width: 200px;"%>
            <h4 class="text-dark heading-title">Partner With Us</h4>
            <p class="text-dark">Want to help your organization? Create your project.</p>
            <%= button_tag "Host a Project!", class: "btn btn-1 btn-outline-bantu"%>
          </div>
        </div>
      </div>
      <br><br><br>
    </section>


 
  
   
      
      
      <!-- Our team -->
    <section class="section section-lg pt-lg-0">
   <div class="container " id="border-box">   

      <div class="row">
          <div class="col-lg-12 text-center pb-3">
              <h5 class="heading-title text-darker">Tech Players</h5>
                <hr class="mt-1 mb-0 black" width="120px">                    
              <p class="title text-dark">Our Technology Partners: Shin, Vix and Robert are graduates from Next Academy. With a heart for community projects, they have decided to hop on board with us as our tech partners!</p>
              <p class="text-primary font-weight-bold">In programming and coding part</p>
          </div>
        </div>

        <div class="row justify-content-center">




          <div class="col-lg-12">
            <div class="row row-grid">
          <!-- Card 1 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                   <div class="card-image mb-4">
                      <%= image_tag "landing/robert.jpg", class: "img-fluid", alt: "Raised circle image" %>
                    </div>
                  <div class="card-body">
                      <h6 class="text-darker font-weight-bold text-uppercase text-center">Robert</h6>
                      <hr class="mt-1 mb-0 black" width="114px">                    
                      <p class="text-body mt-3">Give me some gibberish , btw this is a bit gay</p>
                  </div>
                     <div class="text-center mb-3 btn-wrapper">
                          <a target="_blank" href="https://www.instagram.com/gobantu" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Follow Me">
                            <i class="fa fa-instagram"></i>
                          </a>
                          <a target="_blank" href="https://www.facebook.com/gobantu.my" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Chat Me">
                          <i class="fa fa-facebook"></i>
                          </a>
                          <a target="_blank" href="https://www.linkedin.com/company/gobantu-my" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Hire Me!">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </div>
                </div>
              </div>
                 
            
             
             

          <!-- Card 2 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                    <div class="card-image mb-4 p-0">
                      <%= image_tag "landing/shin.jpg", class: "img-fluid", alt: "Raised circle image" %>
                  </div>
                   <div class="card-body">
                    <h6 class="text-darker font-weight-bold text-uppercase text-center">Shin and his Wife</h6>
                    <hr class="mt-1 mb-0 black" width="114px">                    
                    <p class="text-body mt-3">Give me some gibberish</p>
                  </div>
                       <div class="text-center mb-3 btn-wrapper">
                          <a target="_blank" href="https://www.instagram.com/gobantu" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Follow Me">
                            <i class="fa fa-instagram"></i>
                          </a>
                          <a target="_blank" href="https://www.facebook.com/gobantu.my" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Chat Me">
                          <i class="fa fa-facebook"></i>
                          </a>
                          <a target="_blank" href="https://www.linkedin.com/company/gobantu-my" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Hire Me!">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </div>
                </div>
              </div>
                  
                    
          <!-- Card 3 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                    <div class="card-image mb-1 p-0">
                      <%= image_tag "landing/vix.jpeg", class: "img-fluid",alt: "First slide" %>
                    </div>
                  <div class="card-body text-center">
                    <h6 class="text-darker font-weight-bold text-uppercase">Vixtrum Choo</h6>
                    <hr class="mt-1 mb-0 black" width="114px">                    
                    <p class="text-body mt-3">UI UX Web Developer</p>
                  </div>
                       <div class="text-center mb-3 btn-wrapper">
                          <a target="_blank" href="https://www.instagram.com/gobantu" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Follow Me">
                            <i class="fa fa-instagram"></i>
                          </a>
                          <a target="_blank" href="https://www.facebook.com/gobantu.my" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Chat Me">
                          <i class="fa fa-facebook"></i>
                          </a>
                          <a target="_blank" href="https://www.linkedin.com/in/vix-trum-689394171/" class="btn btn-white btn-icon-only rounded-circle m-2" data-toggle="tooltip" data-original-title="Hire Me!">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            



    <!-- what we do -->
     
     <section class="section section-lg pb-0 mb-lg bg-gradient-neutral">
      <div class="container">
        <div class="row row-grid align-items-center">

        <!--To right -->
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <img src="https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ebe5bb8654d3816c9d934ff455abffb2&auto=format&fit=crop&w=733&q=80" class="img-center rounded rounded img-fluid">
            </div>
          </div>
          
        <!--To left -->
          <div class="col-lg-6 order-lg-1">

            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-bantu">
                 <i class="fas fa-users"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-default">WHAT WE DO</h4>
                <p class="text-body">We provide an end-to-end platform for welfare home management.</p>
              </div>
            </div> <!-- flex -->



            <div class="card shadow shadow-lg--hover mt-5 mb-lg">
              <div class="card-body">
                <div class="d-flex px-3">

                  <div>
                    <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                      <i class="ni ni-satisfied"></i>                      
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title font-weight-bold text-info ">COMMUNITY DEVELOPMENT</h5>
                    <p class="text-dark">With our organization’s mission always in mind, we strive to find new strategies for dealing with this challenge. This is something that we take very seriously, and our team is working each and every day to make a positive impact. Contact us to learn more about our commitment to this cause.</p>
                 
                  </div>

                </div> <!-- d-flex -->
              </div> <!--card body -->
            </div> <!--card shadow -->
          </div> <!-- col-6 -->

    
        </div> <!-- -->
      </div> <!-- -->


    <div class="container pb-100">
      <div class="row row-grid align-items-center">
        <!--To right -->
        
        <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="card shadow shadow-lg mt-5">
              <div class="card-body">
                <div class="position-relative">
                <div class="d-flex px-3">

                  <div>
                    <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                      <i class="fas fa-heart"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title font-weight-bold text-danger">SUPPORT SERVICES</h5>
                    <p class="text-dark">With this initiative, our goal is to promote great opportunities for those in need. With access to the right resources, people can become empowered by their own abilities and gain the confidence to fulfill their potential. Learn more about our work by getting in touch with our team today.</p>
            
                  </div>

                 </div> <!-- d-flex -->
                  </div>
              </div> <!--card body -->
            </div> <!--card shadow -->
          </div> <!-- col-6 -->
            

          <div class="col-lg-6 order-lg-1">
          
              <div class="d-flex px-3">
                <div class="pr-4">
                    <img src="https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6daa4b6ab26a89c93cd9b84fee487fe&auto=format&fit=crop&w=750&q=80" class="img-center rounded img-fluid mb-lg">
                </div>
              </div>
            </div>
         

        </div>
      </div> 

 <div class="container">
        <div class="row row-grid align-items-center">

        <!--To right -->
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5 mb-5">
                    <img src="https://images.unsplash.com/photo-1529390079861-591de354faf5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a0b46d0f432568224e6d1017a005b18&auto=format&fit=crop&w=750&q=80" class="img-center rounded img-fluid">
            </div>
          </div>
          
        <!--To left -->
          <div class="col-lg-6 order-lg-1">


            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">

                  <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                       <i class="ni ni-books"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title font-weight-bold text-success">EDUCATION & OUTREACH</h5>
                        <p class="text-dark">At GoBantu, we are dedicated to stepping up our efforts in addressing this issue. This is by no means an easy feat, but through cooperation and community empowerment we believe we can facilitate progress in this area. We are always striving to make a difference, and invite you to learn more and lend your support.</p>               
                  </div>

                </div> <!-- d-flex -->
              </div> <!--card body -->
            </div> <!--card shadow -->
          </div> <!-- col-6 -->

    
        </div> <!-- -->
      </div> <!-- -->

    <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>


      </div>


    <!-- Volunteer bg  -->
    <section class="section section-components pb-lg bg-gradient-secondary">
        <div class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="rounded shadow-lg">
              <div id="carousel_example" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel_example" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel_example" data-slide-to="1"></li>
                </ol>
                  <div class="carousel-inner">
                 
                    <div class="carousel-item active">
                      <%= image_tag "landing/testimonial1.png", class: "img-fluid", alt: "First slide" ,style:"width: 100%;height: 400px;"%>
                    </div>
                    <div class="carousel-item p-5">
                      <%= image_tag "https://scontent.fkul8-1.fna.fbcdn.net/v/t1.0-9/42319585_1253288171480050_6140791940280483840_n.jpg?_nc_cat=108&oh=503398df5d0cf65a5f028a9a9509bf8b&oe=5C608268", class: "img-fluid", alt: "Second slide" ,style:"width: 100%; height: 400px;"%>
                    </div>
                  </div>
             
                <a class="carousel-control-prev" href="#carousel_example" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_example" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="card shadow border-0 p-5">
              <h3 class="heading-title text-darker text-center">Volunteer Testimony</h3><hr class="mt-1">
              <p class="text-dark font-weight-bold"><strong class="text-primary">Nessa Lee Ni Xuan</strong>, volunteer at Bandar Sunway Gospel Centre Free English Tuition for Disadvantaged Kids"</p>
              <p class="text-default font-weight-bold">'It was a great experience to volunteer via GoBantu. The sessions were conducted in an organised manner and the teaching materials were all well-prepared. More importantly, it is truly fulfilling to be able to put a smile on the face of the children. Every step, however small, does make a difference. I would really recommend this programme to my friends.'</p>
            </div>
          </div>
        </div>
      </div>
   
</section>

           
  
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-300 pt-4">
       <div class="container ">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
              <h5 class="heading-title text-white pb-3">Our Past Projects</h5>
          </div>
        </div>
        </div>

           
        <div class="shape shape-style-1 shape-default" style="background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);">
            <span></span>
          <span></span>
    
          <span></span>
          
        </div>


         <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
      <!-- Cards -->

      
      <!-- Cards for volunteer -->
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">


          <!-- Card 1 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                    <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-9/42770975_1257972507678283_27658219291672576_n.jpg?_nc_cat=108&oh=5b2274986cc3c553cc61bc918e03bbf4&oe=5C59A466", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);",alt: "First slide" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">First Volunteering project at Calvaryland</h6>
                    <p class="description mt-3">Calvaryland Social Care Centre Papaya Plantation. Do join us for our next Talent contribution to the Homes in need. #GoBantu</p>
                  </div>
                </div>
              </div>

          <!-- Card 2 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                    <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "landing/team1.png", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);", alt: "Raised circle image" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">THE GOBANTU FOUNDERS</h6>
                    <p class="description mt-3"> We are a team of 4 strangers from different walks of life, who came together under the Youth Leadership Academy by McKinsey & Company. With the help of our mentors from McKinsey & Company as well as Google Malaysia, we embarked on this journey of establishing GoBantu.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                   <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "landing/event1.png", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);", alt: "Raised circle image" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">INTERVIEW WITH WELFARE HOME MALAYSIA</h6>
                    <p class="description mt-3">Shelter Home Malaysia was one of the many homes we interviewed. These interviews allowed us to identify several problems faced by homes: the lack of long-term and skilled volunteers, as well as the lack of unrestricted funding. GoBantu was hence established to serve as an end-to-end platform to target these pertinent administrative problems faced by welfare homes.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




  <!-- our projects -->
      <section class="section section-shaped">
    <div class="shape shape-style-1 shape-dark">
    </div>
      <div class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 mb-lg-0">
            <h1 class="text-white font-weight-light">Our Projects</h1>
            <h4 class="lead text-white mt-4">We provide a wide range of volunteering opportunities - from providing tuition, to accounting, digital marketing, and even papaya farming. Register your skills and expertise with us, and we will match you to the perfect beneficiary!
 </h4>
          </div>

          <div class="col-lg-6 mb-lg-auto">
            <div class="rounded shadow-lg overflow-hidden">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel_example" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel_example" data-slide-to="1"></li>
                  <li data-target="#carousel_example" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner h-100">
                  <div class="carousel-item active p-2 pb-0">
                    <%= image_tag "landing/google.png" , class: "img-fluid", alt: "First slide" ,style:"width: 100%;height: 346px;"%>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "landing/magic.png", class: "img-fluid", alt: "Second slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "brand/carousel3.png", class: "img-fluid", alt: "third slide" %>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </section>
    </div>
    <!-- -->

   
    
            

             
           
