
  <head>
   

    <script type="text/javascript">
    $(window).scroll(function(){
      $('.background1').bgscroll({direction: 'top'});
    })
    </script>
    
<style media="screen">

  
  #search_button{
    border: 2px solid #ffe121;
    border-left: none;
    
  }
  

</style>

</head>
<style>
#map {
    min-height: 20rem;
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>


     <!-- Vix added background here -->
         <%# <div class="background1"><p>BUILDING COMMUNITIES, LEAVING AN IMPACT</p></div> %>
         
         <div class="background1">
            <div class="animated fadeInUp text-center" id="slogan">
               <p class="text-white mb-0">BUILDING COMMUNITIES</p>
               <p class="text-white mb-0">LEAVING AN IMPACT</p>
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <div class="form-group ml-4" >
                      <%= form_with(url:card_projects_path, remote: true, method: :get)  do |form| %>
                        <div class="input-group mb-4">
                          <%= form.text_field :query,value:params[:query], class: "form-control",style:"border-radius: 50px 0 0 50px;", placeholder: "Search a Project" %>
                            <%= form.button :submit, name: nil,id:"search_button" do %>
                                 <%# <i class="ni ni-zoom-split-in"></i> %>
                                 <%# <i class="fab fa-searchengin"></i> %>
                                 <i class="fas fa-search"></i>
                           <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
  
                                 
<!-- Intro title heading -->
        
               
    


             
  <!-- Intro -->
    <section class="section pb-0 pt-0 section-components">
      <div class="container">
        <div class="row text-center mt-3">
          <div class="col-md-4">
            <%= image_tag "landing/help1.png", alt: "Circle image", class: "img-fluid rounded shadow mb-3", style:"width: 200px;"%>
            <h4 class="text-black font-weight-light">Volunteer</h4>
            <p class="text-black font-weight-light">Lend us your strength and skill, contribute to the community!</p>
            <%= button_tag "Be a Volunteer", class: "btn btn-1 btn-outline-bantu" %>
          </div>
          <div class="col-md-4">
            <%= image_tag "landing/help2.png", alt: "Circle image", class: "img-fluid rounded shadow mb-3", style:"width: 200px;"%>
            <h4 class="text-black font-weight-light">Crowd Funding</h4>
            <p class="text-black font-weight-light">Support our project financial and help those needed!</p>
            <%= button_tag "Donate to Project", class: "btn btn-1 btn-outline-bantu"%>
          </div>
          <div class="col-md-4">
            <%= image_tag "landing/help3.png", alt: "Circle image", class: "img-fluid rounded shadow mb-3", style:"width: 200px;"%>
            <h4 class="text-black font-weight-light">Partner With Us</h4>
            <p class="text-black font-weight-light">Want to help your organization? Create your project.</p>
            <%= button_tag "Host a Project!", class: "btn btn-1 btn-outline-bantu"%>
          </div>
        </div>
      </div>
      <br><br><br>
    </section>


 
           
  
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-300 pt-4">
       <div class="container ">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
             <div>
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="ni ni-bulb-61"></i>
                </div>
            </div>
            <div class="pl-4">
              <h5 class="heading-title text-white pb-3">Our Past Projects</h5>
            </div>
          </div>
        </div>
      </div>
 

   
            
        <div class="shape shape-style-1 shape-default" style="background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);">
        </div>


         <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
      <!-- Cards -->

      
      <!-- Cards for volunteer -->
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">


          <!-- Card 1 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                    <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-9/42770975_1257972507678283_27658219291672576_n.jpg?_nc_cat=108&oh=5b2274986cc3c553cc61bc918e03bbf4&oe=5C59A466", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);",alt: "First slide" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">First Volunteering project at Calvaryland</h6>
                    <p class="description mt-3">Calvaryland Social Care Centre Papaya Plantation. Do join us for our next Talent contribution to the Homes in need. #GoBantu</p>
                  </div>
                </div>
              </div>

          <!-- Card 2 -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                    <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "landing/team1.png", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);", alt: "Raised circle image" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">THE GOBANTU FOUNDERS</h6>
                    <p class="description mt-3"> Do join us for our next Talent contribution to the Homes in need. #GoBantu</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0 h-100">
                  <div class="card-body">
                   <div class="card-profile-image rounded-circle mb-4">
                      <%= image_tag "landing/event1.png", class: "img-fluid rounded-circle", style:"margin-top: -20vh;  box-shadow: 10px 16px 24px 3px rgba(0, 0, 0, 0.20), 0 6px 30px 5px rgba(0, 0, 0, 0.22), 0 8px 10px -5px rgba(0, 0, 0, 0.32);", alt: "Raised circle image" %>
                    </div>
                    <h6 class="text-default font-weight-bold text-uppercase">INTERVIEW WITH WELFARE HOME MALAYSIA</h6>
                    <p class="description mt-3"> Do join us for our next Talent contribution to the Homes in need. #GoBantu</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
     
     <section class="section section-lg pb-0 bg-gradient-info">
      <div class="container">
        <div class="row row-grid align-items-center">

        <!--To right -->
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <img src="https://images.unsplash.com/photo-1531816494000-90d3ae302088?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9282c24f85ff91a21774f542aafbc4d6&auto=format&fit=crop&w=750&q=80" class="img-center img-fluid">
            </div>
          </div>
          
        <!--To left -->
          <div class="col-lg-6 order-lg-1">

            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-building text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Modern Interface</h4>
                <p class="text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
              </div>
            </div> <!-- flex -->



            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">

                  <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Awesome Support</h5>
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                 
                  </div>

                </div> <!-- d-flex -->
              </div> <!--card body -->
            </div> <!--card shadow -->
          </div> <!-- col-6 -->

    
        </div> <!-- -->
      </div> <!-- -->
    


    <div class="container pb-100">
      <div class="row row-grid align-items-center">
        <!--To right -->
        
        <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="card shadow shadow-lg mt-5">
              <div class="card-body">
                <div class="d-flex px-3">

                  <div>
                    <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Modular Components</h5>
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
            
                  </div>

                 </div> <!-- d-flex -->
              </div> <!--card body -->
            </div> <!--card shadow -->
          </div> <!-- col-6 -->
            

          <div class="col-lg-6 order-lg-1">
            <div class="position-relative pl-md-5">
              <div class="d-flex px-3">
                <div class="pr-4">
                    <img src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73302ddf5fabf9285df2da9c462efbb&auto=format&fit=crop&w=750&q=80" class="img-center img-fluid">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  


    <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>


   
    
            

             
           

    <!-- Volunteer bg  -->
    <section class="section pb-0 section-components">
        <div class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="rounded shadow-lg overflow-hidden">
              <div id="carousel_example" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel_example" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel_example" data-slide-to="1"></li>
                </ol>
                  <div class="carousel-inner">
                    <div class="carous">
                    <div class="carousel-item active">
                      <%= image_tag "landing/testimonial1.png", class: "img-fluid", alt: "First slide" ,style:"width: 100%;height: auto;"%>
                    </div>
                    <div class="carousel-item">
                      <%= image_tag "https://scontent.fkul8-1.fna.fbcdn.net/v/t1.0-9/42319585_1253288171480050_6140791940280483840_n.jpg?_nc_cat=108&oh=503398df5d0cf65a5f028a9a9509bf8b&oe=5C608268", class: "img-fluid", alt: "Second slide" ,style:"width: 100%; height: auto;"%>
                    </div>
                  </div>
               </div>
                <a class="carousel-control-prev" href="#carousel_example" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_example" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <h2 class="text-black font-weight-light">Volunteer Testimony</h2>
            <p class="blockquote text-weight-light display-4"><em>Nessa Lee Ni Xuan, volunteer at Bandar Sunway Gospel Centre Free English Tuition for Disadvantaged Kids:</em></p>
            <p class="blockquote text-weight-light display-6"><em>"It was a great experience to volunteer via GoBantu. The sessions were conducted in an organised manner and the teaching materials were all well-prepared. More importantly, it is truly fulfilling to be able to put a smile on the face of the children. Every step, however small, does make a difference. I would really recommend this programme to my friends."</em></p>
          </div>
        </div>
      </div>
   
</section>
