<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
		<div>
			<h5><%= @user.first_name %> <%= @user.last_name %></h5>
		    <p> We are pleased to inform you that project, <%= @project.title %>has received a donation in the amount of $<%= sprintf( "%0.02f",@amount) %></p><br>
		    <h5 class="text-muted">You can view donations made towards your project in the link below.</h5> 
			<%= link_to 'Project Donations', project_donations_url(@project.id), class: "btn btn-primary" %>  
		    
			
		</div>
	
  </body>
</html>